@page "/editor"
@using PrompterLive.Shared.Components.Editor

<div id="screen-editor"
     class="screen active"
     data-testid="editor-page"
     data-screen-title="@_screenTitle">
    <div class="ed-layout">
        <EditorStructureSidebar Segments="@_segments"
                                ActiveSegmentIndex="@_activeSegmentIndex"
                                ActiveBlockIndex="@_activeBlockIndex"
                                OnNavigate="OnNavigateAsync" />

        <EditorSourcePanel @ref="_sourcePanel"
                           Text="@_sourceText"
                           Selection="@_selection"
                           Status="@_status"
                           CanUndo="@_history.CanUndo"
                           CanRedo="@_history.CanRedo"
                           ErrorMessage="@_errorMessage"
                           OnTextChanged="OnSourceChangedAsync"
                           OnSelectionChanged="OnSelectionChangedAsync"
                           OnHistoryRequested="OnHistoryRequestedAsync"
                           OnCommandRequested="OnCommandRequestedAsync" />

        <EditorMetadataRail Profile="@_profile"
                            BaseWpm="@_baseWpm"
                            Author="@_author"
                            CreatedDate="@_createdDate"
                            Version="@_version"
                            Status="@_status"
                            ProfileChanged="OnProfileChangedAsync"
                            BaseWpmChanged="OnBaseWpmChangedAsync"
                            AuthorChanged="OnAuthorChangedAsync"
                            CreatedDateChanged="OnCreatedDateChangedAsync"
                            VersionChanged="OnVersionChangedAsync" />
    </div>
</div>
