@page "/teleprompter"
@namespace PrompterOne.Shared.Pages
@using PrompterOne.Shared.Components
@using PrompterOne.Shared.Contracts

<div id="@UiDomIds.Design.TeleprompterScreen"
     class="screen active"
     tabindex="0"
     @ref="_screenRoot"
     @onkeydown="HandleTeleprompterKeyDownAsync"
     @onkeydown:preventDefault="true"
    data-test="@UiTestIds.Teleprompter.Page">
    <div class="rd">
        <TeleprompterReaderBackdrop CameraAutoStart="@_cameraLayer.AutoStart" CameraCssClass="@BuildCameraCssClass()"
                                    CameraDeviceId="@_cameraLayer.DeviceId" CameraElementId="@_cameraLayer.ElementId"
                                    CameraOrder="@_cameraLayer.Order" CameraRole="@_cameraLayer.Role" CameraStyle="@_cameraLayer.Style"
                                    CameraTestId="@_cameraLayer.TestId" CameraTintCssClass="@BuildCameraTintCssClass()"
                                    GradientCssClass="@BuildReaderGradientCssClass()" GradientValue="@_gradientClass"
                                    IsCameraActive="@_isReaderCameraActive" />

        <div class="rd-ui">
            <TeleprompterReaderHeader BackButtonCssClass="@BuildReaderBackButtonCssClass()"
                                      CountdownCssClass="@BuildCountdownCssClass()" CountdownLabel="@BuildCountdownLabel()"
                                      OnBack="NavigateBackToEditorAsync" />

            <TeleprompterReaderMirrorToggles FullscreenButtonCssClass="@BuildReaderFullscreenButtonCssClass()" FullscreenTitle="@ReaderFullscreenTitle"
                                             IsFullscreenActive="@_isReaderFullscreenActive" IsMirrorHorizontal="@_isReaderMirrorHorizontal"
                                             IsMirrorVertical="@_isReaderMirrorVertical" IsPortraitOrientation="@(_readerTextOrientation == ReaderTextOrientation.Portrait)"
                                             MirrorHorizontalButtonCssClass="@BuildReaderMirrorButtonCssClass(_isReaderMirrorHorizontal)" MirrorHorizontalLabel="@ReaderMirrorHorizontalLabel"
                                             MirrorHorizontalTitle="@ReaderMirrorHorizontalTitle" MirrorVerticalButtonCssClass="@BuildReaderMirrorButtonCssClass(_isReaderMirrorVertical)"
                                             MirrorVerticalLabel="@ReaderMirrorVerticalLabel" MirrorVerticalTitle="@ReaderMirrorVerticalTitle"
                                             OnToggleFullscreen="ToggleReaderFullscreenAsync" OnToggleMirrorHorizontal="ToggleReaderMirrorHorizontalAsync"
                                             OnToggleMirrorVertical="ToggleReaderMirrorVerticalAsync" OnToggleOrientation="ToggleReaderOrientationAsync"
                                             OrientationButtonCssClass="@BuildReaderOrientationButtonCssClass()" OrientationTitle="@ReaderOrientationTitle"
                                             TooltipCssClassFactory="BuildRailTooltipCssClass" TooltipDomIdFactory="BuildRailTooltipDomId"
                                             TooltipFocusIn="HandleRailTooltipFocusIn" TooltipFocusOut="HandleRailTooltipFocusOut"
                                             TooltipKeyDown="HandleRailTooltipKeyDown" TooltipPointerDown="HandleRailTooltipPointerDown"
                                             TooltipPointerEnter="HandleRailTooltipPointerEnter" TooltipPointerLeave="HandleRailTooltipPointerLeave"
                                             TooltipTestIdFactory="BuildRailTooltipTestId" />
            <TeleprompterReaderAlignmentControls AlignmentCenterButtonCssClass="@BuildReaderAlignmentButtonCssClass(ReaderTextAlignment.Center)"
                                                 AlignmentJustifyButtonCssClass="@BuildReaderAlignmentButtonCssClass(ReaderTextAlignment.Justify)"
                                                 AlignmentLeftButtonCssClass="@BuildReaderAlignmentButtonCssClass(ReaderTextAlignment.Left)"
                                                 AlignmentRightButtonCssClass="@BuildReaderAlignmentButtonCssClass(ReaderTextAlignment.Right)"
                                                 AlignCenterTitle="@ReaderTextAlignCenterTitle" AlignJustifyTitle="@ReaderTextAlignJustifyTitle"
                                                 AlignLeftTitle="@ReaderTextAlignLeftTitle" AlignRightTitle="@ReaderTextAlignRightTitle"
                                                 IsCenterAlignment="@(_readerTextAlignment == ReaderTextAlignment.Center)" IsJustifyAlignment="@(_readerTextAlignment == ReaderTextAlignment.Justify)"
                                                 IsLeftAlignment="@(_readerTextAlignment == ReaderTextAlignment.Left)" IsRightAlignment="@(_readerTextAlignment == ReaderTextAlignment.Right)"
                                                 OnSetCenterAlignment="@(() => SetReaderTextAlignmentAsync(ReaderTextAlignment.Center))" OnSetJustifyAlignment="@(() => SetReaderTextAlignmentAsync(ReaderTextAlignment.Justify))"
                                                 OnSetLeftAlignment="@(() => SetReaderTextAlignmentAsync(ReaderTextAlignment.Left))" OnSetRightAlignment="@(() => SetReaderTextAlignmentAsync(ReaderTextAlignment.Right))"
                                                 TooltipCssClassFactory="BuildRailTooltipCssClass" TooltipDomIdFactory="BuildRailTooltipDomId"
                                                 TooltipFocusIn="HandleRailTooltipFocusIn" TooltipFocusOut="HandleRailTooltipFocusOut"
                                                 TooltipKeyDown="HandleRailTooltipKeyDown" TooltipPointerDown="HandleRailTooltipPointerDown"
                                                 TooltipPointerEnter="HandleRailTooltipPointerEnter" TooltipPointerLeave="HandleRailTooltipPointerLeave"
                                                 TooltipTestIdFactory="BuildRailTooltipTestId" />
            <TeleprompterReaderSliders FontMax="@ReaderMaxFontSize" FontMin="@ReaderMinFontSize" FontTitle="@ReaderFontSliderTitle"
                                       FontValue="@_readerFontSize" FocalMax="@ReaderMaxFocalPointPercent" FocalMin="@ReaderMinFocalPointPercent"
                                       FocalTitle="@ReaderFocalSliderTitle" FocalValue="@_readerFocalPointPercent" OnFontInput="HandleReaderFontSizeInputAsync"
                                       OnFocalInput="HandleReaderFocalPointInputAsync" OnWidthInput="HandleReaderTextWidthInputAsync"
                                       TooltipCssClassFactory="BuildRailTooltipCssClass" TooltipDomIdFactory="BuildRailTooltipDomId"
                                       TooltipFocusIn="HandleRailTooltipFocusIn" TooltipFocusOut="HandleRailTooltipFocusOut"
                                       TooltipKeyDown="HandleRailTooltipKeyDown" TooltipPointerDown="HandleRailTooltipPointerDown"
                                       TooltipPointerEnter="HandleRailTooltipPointerEnter" TooltipPointerLeave="HandleRailTooltipPointerLeave"
                                       TooltipTestIdFactory="BuildRailTooltipTestId" WidthMax="@ReaderMaxTextWidthPercent"
                                       WidthMin="@ReaderMinTextWidthPercent" WidthTitle="@ReaderWidthSliderTitle"
                                       WidthValue="@_readerTextWidthPercent" WidthValueLabel="@BuildReaderWidthLabel()" />

            <div class="rd-stage"
                 id="@UiDomIds.Teleprompter.Stage"
                 data-test="@UiTestIds.Teleprompter.Stage"
                 style="@BuildReaderStageStyle()">
                <div class="rd-center-guide"></div>
                <div class="@BuildFocalGuideCssClass()"
                     id="@UiDomIds.Teleprompter.FocalGuide"
                     data-test="@UiTestIds.Teleprompter.FocalGuide"
                     style="@BuildFocalGuideStyle()"></div>
                <div class="@BuildWidthGuideCssClass(true)"
                     id="@UiDomIds.Teleprompter.WidthGuideLeft"
                     style="@BuildWidthGuideStyle(true)"></div>
                <div class="@BuildWidthGuideCssClass(false)"
                     id="@UiDomIds.Teleprompter.WidthGuideRight"
                     style="@BuildWidthGuideStyle(false)"></div>

                <div class="rd-cluster-wrap"
                     id="@UiDomIds.Teleprompter.ClusterWrap"
                     data-reader-orientation="@BuildReaderOrientationDataAttribute()"
                     data-reader-text-alignment="@BuildReaderTextAlignmentDataAttribute()"
                     data-test="@UiTestIds.Teleprompter.ClusterWrap"
                     style="@BuildClusterWrapStyle()">
                    @foreach (var entry in _cards.Select((card, index) => (card, index)))
                    {
                        <div class="@BuildReaderCardCssClass(entry.index)"
                             data-reader-card-state="@BuildReaderCardStateDataAttribute(entry.index)"
                             data-test="@entry.card.TestId">
                            <div class="rd-cluster rd-cluster-active"
                                 data-test="@UiTestIds.Teleprompter.CardCluster(entry.index)">
                                <div class="rd-cluster-emotion">
                                    <span class="rd-emo-dot" style="background:@entry.card.AccentColor"></span>
                                    <span class="rd-emo-name">@entry.card.EmotionLabel</span>
                                    <span class="rd-emo-wpm">@entry.card.TargetWpm <small>WPM</small></span>
                                </div>
                                <p class="rd-cluster-text"
                                   id="@UiDomIds.Teleprompter.CardText(entry.index)"
                                   style="@BuildReaderCardTextStyle(entry.index)"
                                   data-test="@UiTestIds.Teleprompter.CardText(entry.index)">
                                    @for (var chunkIndex = 0; chunkIndex < entry.card.Chunks.Count; chunkIndex++)
                                    {
                                        var chunk = entry.card.Chunks[chunkIndex];
                                        var nextChunk = chunkIndex < entry.card.Chunks.Count - 1
                                            ? entry.card.Chunks[chunkIndex + 1]
                                            : null;
                                        if (chunk is ReaderGroupViewModel group)
                                        {
                                            <span class="@BuildReaderGroupCssClass(entry.index, chunkIndex)"
                                                  data-emphasis="@BuildBooleanDataAttribute(group.IsEmphasis)"
                                                  data-test="@UiTestIds.Teleprompter.CardGroup(entry.index, chunkIndex)">
                                                @for (var wordIndex = 0; wordIndex < group.Words.Count; wordIndex++)
                                                {
                                                    var word = group.Words[wordIndex];
                                                    <span class="@BuildReaderWordCssClass(entry.index, chunkIndex, wordIndex)"
                                                          id="@UiDomIds.Teleprompter.CardWord(entry.index, chunkIndex, wordIndex)"
                                                          @attributes="BuildReaderWordDataAttributes(word, entry.index, chunkIndex, wordIndex)"
                                                          style="@word.Style"
                                                          data-test="@BuildReaderWordTestId(entry.index, chunkIndex, wordIndex)">@word.Text</span>
                                                    @if (wordIndex < group.Words.Count - 1)
                                                    {
                                                        @(" ")
                                                    }
                                                }
                                            </span>
                                        }
                                        else if (chunk is ReaderPauseViewModel pause)
                                        {
                                            <span class="@pause.CssClass"
                                                  @attributes="BuildReaderPauseDataAttributes(pause)"></span>
                                        }

                                        if (nextChunk is ReaderGroupViewModel)
                                        {
                                            @(" ")
                                        }
                                    }
                                </p>
                            </div>
                        </div>
                    }
                </div>

                <div class="rd-pause-indicator" id="rd-pause-bar">
                    <div class="rd-pause-fill" id="@UiDomIds.Teleprompter.PauseFill"></div>
                </div>
            </div>

            <TeleprompterReaderTransport BlockIndicatorLabel="@BuildBlockIndicatorLabel()" CameraButtonCssClass="@BuildCameraButtonCssClass()"
                                         CameraTooltip="@ReaderCameraTooltip" ControlsCssClass="@BuildReaderControlsCssClass()"
                                         EdgeInfoCssClass="@BuildReaderEdgeInfoCssClass()" EdgeProgressCssClass="@BuildReaderEdgeProgressCssClass()"
                                         EdgeSectionLabel="@_edgeSectionLabel" EdgeSegments="@BuildReaderEdgeSegments()" ElapsedLabel="@BuildElapsedLabel()"
                                         IsCameraActive="@_isReaderCameraActive" IsReaderPlaying="@_isReaderPlaying" NextBlockTooltip="@ReaderNextBlockTooltip"
                                         NextWordTooltip="@ReaderNextWordTooltip" OnCameraToggle="ToggleReaderCameraAsync" OnNextBlock="JumpToNextReaderCardAsync"
                                         OnNextWord="StepReaderForwardAsync" OnPlayToggle="ToggleReaderPlaybackAsync" OnPreviousBlock="JumpToPreviousReaderCardAsync"
                                         OnPreviousWord="StepReaderBackwardAsync" OnSpeedDown="DecreaseReaderPlaybackSpeedAsync" OnSpeedUp="IncreaseReaderPlaybackSpeedAsync"
                                         PlayToggleTooltip="@ReaderPlayToggleTooltip" PreviousBlockTooltip="@ReaderPreviousBlockTooltip"
                                         PreviousWordTooltip="@ReaderPreviousWordTooltip" ProgressFillStyle="@BuildReaderProgressStyle()"
                                         ProgressLabel="@BuildReaderProgressLabel()" ProgressSegments="@BuildReaderProgressSegments()"
                                         ProgressShellCssClass="@BuildReaderProgressShellCssClass()" SpeedDownTooltip="@ReaderSpeedDownTooltip"
                                         SpeedUpTooltip="@ReaderSpeedUpTooltip" SpeedValueLabel="@BuildReaderSpeedLabel()"
                                         TimeDataAttributes="@BuildReaderTimeDataAttributes()" />
        </div>
    </div>
</div>
